@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h2>@ViewBag.Message</h2>
    </hgroup>
    <article>
        
           
    </article>

    

</div>
