@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <br />
    <br />
    <br />
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<body>
    <section class="contact"></section>
       


   
</body>


